.beforeFold {
  min-height: calc(100vh - 60px);
  backdrop-filter: blur(15px);
  background-image: url("/assets/trianglify-lowres.png");
  background-size: cover;
}

.appsContainer {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: auto;
  gap: 1.5rem;
}

.appCard {
  position: relative;
  min-width: 250px;
  border: 1px solid white;
  border-radius: 0.5rem;
  padding-bottom: 6rem;
}

.imageWrapper {
  overflow: hidden;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  position: relative;
  height: 200px;
  width: 100%;
  margin-bottom: 1rem;
}

.imageCaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  color: white;
  padding: 0.75rem;
}

.imageCaption > h3 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.imageCaption > p {
  margin: 0;
  font-size: 0.75rem;
}

.appCardContent {
  padding: 0 1rem;
}

.appCardFooter {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  border-top: 1px solid white;
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
