.appsContainer {
  min-height: calc(100vh - 60px);
  padding: 0 1.5rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  backdrop-filter: blur(15px);
  background-image: url("/assets/trianglify-lowres.png");
  background-size: cover;
}

.appCard {
  min-height: 250px;
  border: 1px solid white;
  border-radius: 0.5rem;
}
