.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 10px;
  padding: 0.5rem;
}

.border {
  margin-left: 5rem;
  border: 2px solid white;
  border-radius: 10px;
  flex-grow: 1;
  padding: 0.25rem;
}

.messageContainer {
  overflow-y: scroll;
  display: flex;
  height: 450px;
  width: 100%;
  flex-direction: column-reverse;
  font-family: "Roboto";
  padding: 0.25rem;
  overflow-y: scroll;
  position: relative;
  backdrop-filter: blur(6px);
}

.inputContainer {
  height: 50px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid white;
  background-color: black;
  border-radius: 10px;
}

.form {
  height: 100%;
  width: 100%;
  padding: 0.25rem;
  display: flex;
  background-color: black;
  border-radius: 10px;
}

.textInput {
  height: 100%;
  font-family: "Roboto";
  flex-grow: 1;
  border: none;
  background-color: transparent;
}

.button {
  margin: 0.25rem;
  background-color: black;
  border: none;
}
@keyframes blink {
  50% {
    color: transparent;
  }
}
