.header {
  height: 60px;
  border: 1px solid cyan;
}

/* .page-container {
  background-image: url("./assets/JS_left.jpeg");
  background-size: contain;
} */

.beforeFold {
  min-height: calc(100vh - 60px);
  padding: 0 1.5rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 3rem;
  backdrop-filter: blur(15px);
  background-image: url("/assets/trianglify-lowres.png");
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.title {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  font-family: "Bungee";
  font-size: calc(30px + (75 - 30) * ((100vw - 300px) / (1600 - 300)));
  flex-direction: column;
  justify-content: center;
}

@keyframes blink {
  50% {
    color: transparent;
  }
}

.cursor {
  animation: blink 1s steps(1, start) 0s infinite;
}
