html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif",
    "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  background-color: black;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: white;
}
